<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#if devoured}}devour!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button> 
</li>